* {
  margin: 0;
  font-family: 'ChosunGu', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'ChosunGu', sans-serif;
}

body {
  font-family: 'ChosunGu', sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}
