@import './base/normalize';
@import './base/reset';

* {
  color: #303030;
}

body {
  padding: 80px;
  font-size: 18px;
}

#header {
  text-align: center;
  margin-bottom: 40px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content {
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#task-input {
  width: 432px;
  height: 40px;
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 10px 12px 12px;
}

#task-input::placeholder {
  color: #e0e0e0;
}

#task-submit {
  width: 40px;
  height: 40px;
  border: 1px solid #303030;
  border-radius: 8px;
  background-color: #303030;
  color: #ffffff;
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

#task-submit:hover {
  background-color: #4166e2;
  border-color: #4166e2;
}

#task-list {
  width: 100%;
  padding: 12px;
}

#task-list li {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #e0e0e0;
}

#task-list li:last-child {
  border: none;
}

#task-list .item {
  display: inline-block;
  height: 20px;
}

#task-list .removeButton {
  position: absolute;
  right: -12px;
  text-align: center;
  width: 40px;
  height: 20px;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  &:hover {
    color: rgb(216, 30, 30);
  }
}
