@import './base/normalize';
@import './base/reset';

:root {
  --black: #161616;
  --white: #ffffff;
  --gray: #c4c4c4;
  --blue: #2f80ed;
}

* {
  color: #161616;
}

body {
  padding: 48px 15px;
}

#header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 36px;
}

.task-form {
  width: 345px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
}

#task-input {
  width: calc(100% - 52px);
  height: 48px;
  padding: 12px 16px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  font-size: 18px;
}

#task-submit {
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 8px;
  background-color: var(--blue);
}

#task-submit::placeholder {
  color: var(--gray);
}

.add-icon {
  width: 20px;
  height: 20px;
  background-image: url('../assets/plus-icon-m.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

#task-list {
  width: 345px;
  padding: 0 16px;
  margin: 0 auto;
}

#task-list li {
  display: flex;
  align-items: center;
  position: relative;
  height: 44px;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 0.5px solid var(--gray);
}

.remove-button {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 16px;
  background-image: url('../assets/remove-button.svg');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -16px;
}
